* {
  box-sizing: border-box;
}

/* General Styles */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #888;
}

img {
  width: 100%;
}

a,
btn,
button {
  transition: 0.15s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0 20px;
  padding: 0;
  font-weight: 700;
}

.gold-rule {
  width: 200px;
  height: 3px;
  background: #d1b37a;
  align-self: center;
  margin: 20px auto;
}

hr {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

section {
  background: #fff;
  padding: 50px 0;
}

.card {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.normal-text {
  font-weight: 400;
}

.section-title {
  font-size: 1.75rem;
  margin-bottom: 40px;
  text-align: center;
}

/*********************************
             Header
*********************************/

/****** Main Header Styles ******/

#main-header {
  background: url("https://images.unsplash.com/photo-1472577938094-84871b72ccac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80")
    no-repeat center center / cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
  /* Header Overlay */
  #main-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

/* Header for all other pages other than homepage */
#main-header-inner {
  background: url("https://images.unsplash.com/photo-1506855868560-4ae177c39018?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2512&q=80")
    no-repeat center center / cover;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
  /* Header Overlay */
  #main-header-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

/* Brings content in header to the front */
#main-header * {
  z-index: 2000;
}
#main-header-inner * {
  z-index: 2000;
}

/* Header and Paragraph text */
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 0 30px;
  margin-top: 150px;
}
.header-content h1.header-title {
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 1px 1px 10px #d1b37a;
  margin-bottom: 0;
}
.header-content p.header-text {
  font-size: 2rem;
  margin-top: 15px;
  font-style: italic;
}
a.request-a-quote {
  color: #fff;
  border: 1px solid rgb(209, 179, 122);
  border-radius: 5px;
  background: rgba(209, 179, 122, 0.7);
  padding: 15px 25px;
  margin-top: 30px;
  text-decoration: none;
  text-transform: uppercase;
}
a.request-a-quote:hover {
  background: rgba(156, 130, 83, 0.7);
  font-weight: 700;
}

/****** Navigation ******/
.bg-dark {
  background-color: red !important;
}

.bg-dark.top {
  background: transparent !important;
}

/* Logo in Navbar */
.navbar-brand .logo {
  width: 300px;
}

a.nav-link {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
}
a.nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

a.dropdown-item {
  font-size: 1.25rem;
  cursor: pointer;
}
  a.dropdown-item:hover {
    background: #d1b37a;
  }

/* Services Section */
#services .fas {
  color: #d1b37a;
  font-size: 3rem;
  margin-bottom: 40px;
}

/* Read More Buttons */
a.read-more {
  background: rgba(209, 179, 122, 0.7);
  border: 1px solid rgb(209, 179, 122);
  border-radius: 5px;
  color: #888;
  padding: 10px 20px;
  margin-top: auto;
  text-decoration: none;
  width: 70%;
  text-align: center;
}
a.read-more:hover {
  background: rgba(209, 179, 122, 0.6);
  font-weight: 700;
}

/* What we do section */
#what-we-do {
  background: #d1b37a;
  padding: 0;
  color: #fff;
}
#what-we-do img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#what-we-do .content {
  padding: 30px;
}
#what-we-do a.read-more {
  background: none;
  border-color: #fff;
  color: #fff;
}

/* Parallax section */
#parallax {
  background: url("../images/diamond-plate.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#parallax:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#parallax * {
  z-index: 12;
}
#parallax p.parallax-text {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  text-shadow: 1px 1px 5px #000;
}

/* What they say section */
#what-they-say .blockquote-footer {
  color: #d1b37a;
}

#what-they-say .card {
  border: 1px solid #d1b37a;
  padding: 20px;
  margin: 5px;
}

/* About Us Page Section */
#about-us img.flag {
  width: 50px;
}

/* Meet The Team Section */
#meet-the-team .card img {
  border-radius: 50%;
  width: 200px;
  margin-bottom: 20px;
  border: 2px solid #d1b37a;
  padding: 5px;
}

#meet-the-team h4.team-member {
  margin-bottom: 5px;
}

#meet-the-team .employee-title {
  color: #d1b37a;
  font-size: 1rem;
  font-weight: 400;
}

#meet-the-team .gold-rule {
  display: none;
}

/* Footer */
#footer,
#footer a {
  background: rgb(71, 71, 71);
  color: #fff;
}
  #footer img {
    width: 200px;
  }
  #footer p {
    margin-bottom: 0;
    padding-top: 3px;
  }
  #footer p.footer-phone a,
  #footer p.footer-email a {
    color: #fff;
    /* font-size: 1.25rem; */
    text-decoration: none;
  }
  #footer p.footer-phone a:hover,
  #footer p.footer-email a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  #footer a .fab {
    color: rgb(209, 179, 122);
    font-size: 1.25rem;
    margin: 5px;
  }
    #footer a .fab:hover {
      color: rgba(209, 179, 122, 0.5);
    }
.footer-end {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  width: 100%;
  height: 50px;
  text-align: center;
}
  .footer-end p {
    padding: 0;
    margin: 0;
  }

